.App {
  text-align: center;
}
.course-tag {
  margin-top: -60px;
  position: relative;
}

span.course-tag.premium {
  background: linear-gradient(23deg,#de2575,#ff5030);
  color: #fff;
  font-size: 0.75rem;
}

span.course-tag.free {
  background: linear-gradient(23deg,#4998fe,#0560d5);
  color: #fff;
  font-size: 0.75rem;
}
span.course-tag.atomic {
  background: linear-gradient(23deg,#ff8008,#ffc837);
  color: #fff;
  font-size: 0.75rem;
}

span.course-tag.essential {
  background: linear-gradient(23deg,#b100ff,#7f00ff);
  color: #fff;
  font-size: 0.75rem;
}

.p{
  font-size: small;
}
.ctitle{
  font-size: medium !important;
}

.maindiv{
  display: flex;
  flex-wrap: wrap;
}